<div class="short-row-break"></div>
<div class="container">
<h3 class="center">Link Statistics</h3>
<div class="row">
	<div class="left">
		<table>
			<tr><td>Full URL: </td><td>&nbsp;</td><td><%= @link.full_url %></td></tr>
			<tr><td>Short URL: </td><td>&nbsp;</td><td><%= @link.full_short_url %></td></tr>
			<tr><td>Date Created: </td><td>&nbsp;</td><td><%= @link.created_at.strftime('%B %e at %l:%M %p') %></td></tr>
			<tr><td>Visits: </td><td>&nbsp;</td><td><%= @link.clicks_badge %></td></tr>
			<tr><td>Compression Rate: </td><td>&nbsp;</td><td><%= @link.compression_text %></td></tr>
		</table>
		<div class="details-section">
			<%= render "visits_section" unless @visit_details.empty? %>
			<%= render "visit_detail_teaser" %>
		</div>
	</div>
</div>
</div>
<div class="row-break"></div>
