<!DOCTYPE html>
<html>
<head>
  <title>GobbleFlow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'header' %>
<%= yield %>
<% if flash[:success] %>
	<%= javascript_tag do %>
		Materialize.toast('<%= flash[:success] %>', 5000, 'white black-text rounded')
	<% end %>
<% end %>
<% if flash[:error] %>
<%= javascript_tag do %>
	Materialize.toast('<%= flash[:error] %>', 5000, 'white red-text rounded')
<% end %>
<% end %>
<%= render 'prefooter' %>
<%= render 'footer' %>
</body>
</html>
